# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.sdf
/Debug
*.suo
*.log
*.filters
*.cache
*.tlog
*.obj
*.idb
*.pdb
/*.opensdf
/Overdrive/Overdrive.vcxproj.user
/Release/*.exe
/Overdrive/Debug/*.xml
Experimental
/Overdrive/Release
*.lastcodeanalysissucceeded
Release
/ipch
/x64
/Assault/x64
/Overdrive/x64
/OverdriveTest/x64
/Overdrive.VC.VC.opendb
/Overdrive.VC.db
