# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.vcxproj
*.sdf
*.sln
/Debug
*.suo
*.log
*.filters
*.cache
*.tlog
*.obj
*.idb
*.pdb
/*.opensdf
/Overdrive/Overdrive.vcxproj.user
/Release/*.exe
/Overdrive/Debug/*.xml
